html{
  scroll-behavior: smooth;
}
body {
  background: url(blob-scene-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}
.menu-icon{
  display: none;
}
main{
  display: flex;
  flex-direction: column;
}
.sidenav{
  z-index: 1;
  position: fixed;
  background-color: rgba(32, 33, 45, 0.505);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  min-width:3.5rem;max-width: 7vw;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  border-top-right-radius:0px;
  transition: all .3s ease-in-out;
  
  .pic {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0vh;
  }
  .social{
    display: flex;
    margin-top: 20vh;
   
    
    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      -moz-column-gap:5%;
           column-gap:5%;
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;
      margin-bottom: 2%;
border-radius: .5rem;

.links{
  width: 0%;
}
    
      i{
       content: icon;
       /* font-size: 1.5rem;s */
       
      }
    }
    .PostInitial{
      display: none;
      flex-direction: row;
      position: absolute;
  



    }
  }
.userinf{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 90%;
  margin-top: 1vh;
  background-color: transparent ;
background: transparent;

  -webkit-backdrop-filter: 0;
          backdrop-filter:0;
  min-height: 9vh;
  border-radius: .4em;
  overflow: hidden;
  box-sizing: border-box;
}
  .details {
    display: flex;
    flex-direction: column;
   display: none;
    margin-top: 0vh;
    a{
      color: #fff;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
    }
    P{
      margin: auto;
      color: #fff;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  img {
    height: 20%;
    width:3rem;
    border-radius: 3rem;
  }

  .navigation{
    justify-content: center;
    display: flex;
    height: 60vh;
    align-items: center;
    width: 90%;
 
   

  }
  ul {
    list-style: none;
    display: flex;
       flex-direction: column;
       -moz-column-gap: 10%;
            column-gap: 10%;
       justify-content: center;
       align-items: center;
       padding: 0;
      
 

   li{
    display: flex;

    
    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      -moz-column-gap:5%;
           column-gap:5%;
      font-size: 1.3rem;
      color: #fff;
      text-decoration: none;
      margin-bottom: 2%;
border-radius: .5rem;





      .icontxt{
        display: none;
        pointer-events: none;
        overflow: hidden;
        width: 0%;
        position: absolute;
        transition-delay: .1s ;
      }
      i{
       content: icon;
       /* font-size: 1.5rem;s */
       
      }
    }
   }

    
  }
}





#Home{
  display: flex;
  justify-content: right;
  align-items:center;
  height: 100vh;
  width: 95vw;

  h1{
    margin-left: 40%;
    width: 40%;
    color: #fff;
    font-size: 3rem;
    pointer-events: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    span{
      color:hsl(16, 85%, 70%) ;
      text-shadow: 0px 0px 30px hsla(329, 38%, 43%, 0.705);
    }

  }
}
#whtilij{
  margin-top: 3vh;
 }
#Work{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;
  
  height: 100vh;
  width: 95vw;
  margin-bottom: 50vh;
  .cards{
  display: flex;
  flex-direction: row;
 margin-left: 10vw;
 margin-top: 10vh;
 gap: 3vw;
  a{
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  
}
  
  .fatman,.cat{
    background-color: rgba(32, 33, 45, 0.505);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    width: 20vw;
    min-height: 25vh;
   margin-right: 0%;
    padding: 2%;
    padding-bottom: 1%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
    max-width: 200px;
      width: 17vw;
      border-radius: .7rem;
      
    }
    .text{
      margin-top: 1vh;
     color: #fff;
     overflow: hidden;
      width: 18vw;
  height: 20vh;
  border-radius: inherit;

  
  justify-content: right;
  align-items: flex-start;
  display: flex;
  padding: 7%;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  z-index: 1;
 
    }
  }

}
}
.fatman{
  box-shadow: 0px 0px 35px hsla(329, 38%, 43%, 0.968);
}
.workbs{
  h1{
    margin-left: 60vw;
    width: 35%;
    color: #fff;
    font-size: 2rem;
    pointer-events: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20vh;
    margin-bottom: 10vh;
  }
  
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------------------ */
#About{
  display: flex;
  flex-direction: row;
  margin-left: 18vw;
  -moz-column-gap: 5vw;
       column-gap: 5vw;

  .main-about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    width: 45vw;
    background-color: rgba(32, 33, 45, 0.505);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    max-height:30rem;
    min-height: 20rem;
    padding: 4%;
    border-radius: 1rem;
    h1{
      font-size: 2rem;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
    }
    h3{
      margin-left: 1vw;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  .listsasa{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 
.whtil{
  background-color: rgba(32, 33, 45, 0.505);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
padding: 4%; 
margin-bottom: 3vh;
justify-content: center;
border-radius: .7rem;
align-items: center;
h3{
  margin-left: 1vw;
}
}
  }
}