.container {
  align-items: center;
  margin-left:20vw;
  margin-right: 20vw;
 }body{
  background-color: #ffffff96;
 }
 .login-section {
 
  width: 43vw ;
  height: 90vh;
 border-right: 1.5px solid #9d9d9dcd;
  top: 9vh;
  position: absolute;
  margin-left:calc(100vw - 95vw);
  border-radius: 0px;
  margin-top: 10vh;
 }
 .signup-section {
 
 
  left: 5vw;
  top: 10vh;
  position: absolute;
  margin-left:calc(100vw - 44svw) ;
  margin-top: 10vh;
 }
 .login-section p{
  width: 25vw;
 }
 
 h1 {
 
  color: #000000;
  font-size: 20px;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
 }
 
 p {
 
  color: #565151;
  font-size: 12px;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 400;
  word-wrap: break-word;
  width: 37.3vw;
 }
 
 .required-fields{
  display: flex;
  flex-direction: row;
  width: 40vw;
 
 }
 .buttonreg{
  margin-top: 2.5vh;
 }
 
 
 input[type="text"],
 input[type="password"],
 input[type="email address"],
 input {
  width: 30vw;
  height: 8VH;
  border: .1em #9d9d9d solid;
  background: rgba(217, 217, 217, 0);
  color: #000000;
  font-size: 16px;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 300;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  padding-left: 1.6vh;
  border-radius: 4px;
  margin-top:3.12vh ;
  outline: none;
 }
 .Inputfld2{
  margin-top: 2.5vh;
 width: 15vw;
 }
 .chckbx{
  height: 2vh;
  width: 2vw;
 display: inline-flex;
 
 
 }
 .yapagreemnt p{
  text-align: left;
  width: 27vw;
 }
 
 
 .signupsec input{
  width: 30svw;
  height: 8VH;
  border: .1em #9d9d9d solid;
  background: rgba(217, 217, 217, 0);
  color: #000000;
  font-size: 16px;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 300;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  margin-top: 2.7vh;
  margin-left: 1vh;
 
 
 }
 button {
 
  width: 18vw;
  height: 5vh;
  background: #000000;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 600;
  text-align: center;
  border: none;
  transition: .3s ease-in-out;
  border-radius: 4px;
 }
 
 button:hover {
 
  width: 18vw;
  height: 5vh;
  background: rgb(0, 0, 0);
  color: #FFFFFF;
  font-size: 15px;
  transform: scale(95% );
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 600;
  text-align: center;
  border: none;
 }
 .signupBTN{
  display: none;
 }
 .required-fields {
 
  color: #565151;
  font-size: 14px;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 300;
 }
 
 
 
 a {
 
  color: #565151;
  font-size: 12px;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 400;
  text-decoration: underline;
  }
 .frgtpass{
  position: absolute;
  padding-left: 20vw;
  padding-top: 1.8vh;
 
 }
 
  .dropdown {
 
  width: 31vw;
  border: .1em solid #9d9d9d;
  border-radius: 5px;
  position: relative;
  height: 9VH;
  color: #000000;
  border-radius: 4px;
  padding: 8px 10px;
  outline: none;
  font-size: 16px;
  margin-left: .5vw;
 
  }
 
 
  .dropdown::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 2vw;
  transform: translateY(-50%);
  }
  .dropdown::before {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(50%);
  }
  .dropdown {
  position: relative;
  display: inline-block;
 
 
 }
 
 
 
 
 
 option:first{
  color: #777;
 }
 
 .dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
 }
 
 .dropdown-arrow::after {
  content: "\u25BC";
  font-size: 12px;
  color: #777;
 }
 
 .dropdown:hover .dropdown-arrow::after {
  transform: rotate(180deg);
 } */
 
 
 
 input::placeholder{
  background-color: #fff;
  padding-left:0vw;
 
  color: #897b7b;
 
 }input:focus::placeholder {
  transform: translateY(-3vh);
  z-index: 1;
  font-size: .8rem;
  transition: .5s;
  background-color: #fff;
 
 }
 .dropdown-select2 {
  margin-left: 1VH;
  width: 81vw;
  height: 8VH;
  color: #000000;
 border-radius: 0px;
  padding: 8px 10px;
  border: .1em solid #ddd;
  outline: none;
  font-size: 16px;
  font-family: 'Sofia Sans Condensed', sans-serif; appearance: none;
 }
 
 .g-signin2{
  margin-top: 4vh;
  display: hidden;
  position: relative;
  width: 120px;
  box-shadow: 0px 0px 20px#0000007e;
  
 }
 
 @media only screen and (max-width: 700px) {
  .main-container {
  display: flexbox;
  flex-direction: column;
 
  }
 input{
  height: 2vh;
 
 
 }
  .login-section {
    border-right:0;
  order: 1;
  }
  .signup-section {
  order: 2;
  display: none;
  }
 
  .signup-section input {
  width: 100%;
  }
 .signupBTN {
 
 
  height: 5vh;
  width: 40vw;
 transition: .5s ease-in;
  background: #222dc3;
  color: #FFFFFF;
  font-size: .8rem;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 600;
  text-align: center;
  border: none;
  transition: .3s ease-in-out;
  display: block;
  margin-left: 9.625vw;
  text-decoration: none;
 
  }
  button{
  font-size: .8rem;
  height: 5vh;
  width: 40vw;
 
  }
  button:hover{
  font-size: .8rem;
  height: 5vh;
  width: 40vw;
  transform: scale(97%);
  background: #000000bd;
  color: #FFFFFF;
  font-size: .8rem;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 600;
  text-align: center;
  border: none;
  display: block;
 
  }
  .g-signin2{
    margin-top: 4vh;
   position: absolute;
   flex: none;
   
  display: block;
  transform: translate(-0vh,6vw);
    width: 120px;
    box-shadow: 0px 0px 20px#0000007e;
  }
  .btns{
  display:flex ;
  flex-direction: row;
  width: 77vw;
  }
  .signupBTN:hover {
 
  height: 4vh;
  width: 40vw;
  transform: scale(97%);
  background: #222dc3bd;
  color: #FFFFFF;
  font-size: .8rem;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 600;
  text-align: center;
  border: none;
  display: block;
  }
  .signupBTN a{
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 300;
  word-wrap: break-word;
  font-weight: 300;
  }
  .signupsec input{
  width: 75vw;
  height: 8VH;
  border: .1em #9d9d9d solid;
  background: rgba(217, 217, 217, 0);
  color: #000000;
  font-size: 16px;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 300;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  margin-top: 2.5vh;
  margin-left: 1vh;
 
  }
  .frgtpass{
  width: 40vw;
  }
  .dropdown {
 
  width: 81vw;
  border: .1em solid #ccc;
  border-radius: 5px;
  position: relative;
  height: 8VH;
  color: #000000;
  border-radius: 4px;
  padding: 8px 10px;
  outline: none;
  font-size: 16px;
  margin-left: 2vw;
  }
  .frgtpass{
  padding-top: 1.6vh;
  }
 
 
  .dropdown::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 2vw;
  transform: translateY(-50%);
  }
  .dropdown::before {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(50%);
  }
  .dropdown {
  position: relative;
  display: inline-block;
 
 
 }
 
  input[type="text"],
  input[type="password"],
  input[type="email address"],
  input {
  width: 75vw;
  height: 8VH;
  border: .1em #9d9d9d solid;
  background: rgba(217, 217, 217, 0);
  color: #000000;
  font-size: 16px;
  font-family: 'Sofia Sans Condensed', sans-serif; font-weight: 300;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  padding-left: 1.6vh;
 }
 .yapagreemnt p{
  text-align: left;
  width: 80vw;
 }
 
 .login-section p{
  width: 80vw;
  left: 20vw;
  margin-left: 0;
 }
 .signup-section {
 
  width: 80vw;
  height: 754px;
  left: 0px;
  top: 100px;
  position:0 ;
  margin-left: 5vw;
  bottom: 10vh;
 }
 .login-section {
 
 
  left: 10vw;
  top: 100px;
  position: absolute;
  margin-left:0vw ;}
 .frgtpass{
  position: absolute;
  padding-left: 50vw;
  padding-top: 1.8vh;
  border-right: 0px;
 
 }
 .chckbx{
  width: 70px;
  height: 70px;
 
 
 }
 
 }